body { background-color: #fdfdfd; color: #313131; }

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }
*:not(a) { animation: fade-in 0.08s; }
.exit { animation: fade-out 0.06s; }

/* a { text-decoration: none; color: #39CCCC; transition: color .06s ease-in-out; } */
/* a:hover { color: #F5FCFF; } */
a, .a-btn {
    color: #4e5192;
    transition: all .08s ease-in-out;
    text-decoration: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid transparent;
}

a:hover, .a-btn:hover { color: #5c5fb1; border-color: #3d3f80; }
.a-btn:disabled { color: rgba(0, 0, 0, 0.2); }

.un { border-bottom: 1px solid #3d3f80; }
.muted { opacity: 0.4; }

body { font-family: 'PT Serif', serif; }
blockquote { font-size: 1rem; font-style: normal; margin-left: 2rem; }

.btn-bg { transition: background .06s ease-in-out; }
.btn-bg:hover { background-color: #ebebeb }

.bg-lighten { background-color: rgba(255, 255, 255, 0.1); }
.bg-darken { background-color: rgba(0, 0, 0, 0.1); }

.bg-paper { background-color: #fdfdfd; }
.charcoal { color: #313131; }
.c-hand { cursor: pointer; }
.c-default { cursor: default; }

.micro { width: 20px; height: 20px; }

.max-height-1 { max-height: 4rem; }
.max-height-2 { max-height: 8rem; }
.max-height-3 { max-height: 12rem; }
.max-height-4 { max-height: 16rem; }