@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }
* { animation: fade-in 0.12s; }
.exit { animation: fade-out 0.06s; }

a { text-decoration: none; color: #39CCCC; transition: color .2s ease-in-out; }
a:hover { color: #F5FCFF; }
body { font-family: 'Source Sans Pro', sans-serif; }
blockquote { font-size: 1rem; font-style: normal; margin-left: 2rem; }

.navbar-a, button { transition: background .2s ease-in-out; transition: color .2s ease-in-out; transition: background .2s ease-in-out; }
.navbar-a:hover, button:hover { background-color: rgba(255, 255, 255, 0.1); }
.navbar-a:active, button:active { background-color: rgba(255, 255, 255, 0.25); }

.bg-lighten { background-color: rgba(255, 255, 255, 0.1); }
.c-hand { cursor: pointer; }

.max-height-1 { max-height: 4rem; }
.max-height-2 { max-height: 8rem; }
.max-height-3 { max-height: 12rem; }
.max-height-4 { max-height: 16rem; }